*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*
Main color: #1F2937
*/
.d-flex{
    display: flex;
}

/* header **********************/
.container{
    justify-content: space-around;
    padding: 25px;
    background-color: #1F2937;
}

.container ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.container a{
    text-decoration: none;
    margin-left: 15px;
    color: #e5e7eb;
    font-size: 18px;
}

.container p{
    color: #f9faf8;
    font-size: 24px;
}

/* Hero section *******************************/
.hero{
 /* padding-top: 20px; */
 background-color: #1F2937; 
 justify-content: center;
 align-items: center;
 height: 400px;
}

.hero-text img{
width: 400px;
height: 200px;
}

.hero-text{ 
    display: flex;
    align-items: center;
    gap: 70px;
    
}

.hero-text article{
    width: 400px;
    height: 200px;
}

.hero-text article h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text article p{
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text article button{
    margin-top: 10px;
    color: #fff;
    background-color: #3882f6;
    border-radius: 5px;
    /* width: 80px; */
    padding: 10px 35px;
    border: none;
}

/* Inforamtion*/
.information{
    height: 50vh;
}

.information h2{
    text-align: center;
    margin: 50px 0px 30px 0px;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.box{
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.random-inf{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.random-inf p{
    align-self: center;
    text-align: center;
    width: 150px;
    margin-top: 10px;
}

/* Qute section *******************************/
.wrap{
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    color: #1f2937;
    font-size: larger;
    font-style: italic;
    font-weight: 300;
    margin-top: 50px;
}
.wrap address{
    width: 77%;
}

.wrap strong{
    align-self: flex-end;
    margin: 20px 40px 0px 0px;
}

/* Sing up ******************************/
.sing{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sing-up{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 20px 0px;
    border-radius: 6px;
    color: #fff;
}

.sing-up a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 3px 30px;
    border-radius: 7px;
}
